@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background: linear-gradient(180deg,hsl(273, 75%, 66%),hsl(240, 73%, 65%)) no-repeat;
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.img1{
    height:200px;
    width: 200px;
      
}
.img2{
    position: absolute;
    top: -3%;
    height:250px;
    width: 250px;
    filter: drop-shadow(0px 20px 10px rgb(106, 105, 105));
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 1.5rem;
    max-width: 380px;
    justify-content: center;
    background-color:white ;
    padding: 1rem;
    box-shadow:2px 2px 50px 2px rgb(113, 111, 111) ;
    
}
h1{
    color: hsl(238, 29%, 16%);
    text-align: center;
    margin:7rem 0rem 0.9rem; 
}
h2{
    font-size: 17px;
    font-weight: 100;
    
}
.cont2{
    font-size: 12px;
    color:hsl(240, 4%, 49%);
    display:flex ;
    flex-direction: column;
    
}

p{
    max-width: 320px;
    margin-bottom: 0.7rem;
}
.visible{
    display: none;
}
hr{
    margin-bottom: 0.5rem;
    opacity: 0.3;
}

.arr{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content:space-between;
    margin-bottom:0.6rem ;
}
.hori{
    margin-bottom: 2rem;
}
h2:active{
    color: hsl(14, 88%, 65%);
    
}
h2:hover{
   cursor: pointer;
}
.for{
    color: hsl(238, 29%, 16%) !important;
    font-weight:bolder;
}
.visible2{
    display: none;
}

@media(min-width:500px){
    .img2{
        display: none;
    }
    div.visible{
        display: block;
       
    }
    .container{
        flex-direction: row;
        min-width:800px;
        justify-content: space-between;
               
    }
    h1{
        text-align: start;
        margin: 0 0 2rem;
    }
    .cont2{
        padding: 3rem;
        
    }
    
    .img1{
        position: absolute;
        left:20.7%;
        top: 29%;
        min-height: 270px;
        min-width: 270px;
        filter: drop-shadow(0px 20px 10px rgb(106, 105, 105));
        object-fit: cover;
        object-position: 40px 20px 0px  ;  
    }
    .visible2{
        display: block;
        position:absolute;
        top: 41.2%;
        left: 12.7%;
        height: 130px;
        width: 150px;
    }
}